body {
    overflow: hidden;

    /* 版本支持 */
    --version-color: rgb(28, 2, 135);
    /* 警告 */
    --warn-color: #f66;

}

/* 滚动条 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2.5px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 2.5px rgb(0 0 0 / 30%);
    border-radius: 2.5px;
    background-color: #bfc0c1;
    opacity: .7;
    transition: opacity ease-in-out 200ms;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2.5px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 2.5px rgb(0 0 0 / 30%);
    border-radius: 2.5px;
    background-color: #F5F5F5;
}

body>header {
    background-color: #ffffff;
    color: black;
    box-shadow: -1px 5px 13px 2px rgb(96 125 139 / 34%);
    user-select: none;
    z-index: 1;
    position: relative;
}

body>header>h1,
body>header>h2 {
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
}

body>header>h1 {
    background-image: url('../images/OI.png');
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 45px;
    padding-right: 20px;
    background-position: left center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border-right: 1px dashed gray;
    cursor: pointer;
    filter: grayscale(100%);
}

body>header>h1>div {
    line-height: 20px;
}

body>header>h1>div:last-child {
    font-weight: 200;
}

body>header>h2 {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 80%;
    height: 60px;
    width: 60px;
    font-size: 0;
}

body>header>div.menu-ctrl {
    display: inline-block;
    height: 60px;
    width: 32px;
    text-align: center;
    padding: 18px 0 18px 8px;
    cursor: pointer;
    display: none;
}

body>div.nav,
body>div.menu,
body>div.content,
body>div.fixed {
    position: fixed;
    top: 60px;
}

body>div.menu,
body>div.content,
body>div.fixed {
    height: calc(100vh - 60px);
    overflow: auto;
}

body>div.nav,
body>div.menu,
body>div.fixed {
    user-select: none;
}

body>div.nav {
    top: 10px;
    right: 50px;
    color: black;
    position: fixed;
    z-index: 2;
}

body>div.nav>span.github {
    vertical-align: top;
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("../images/github.png");
    text-indent: 15px;
    text-decoration: underline;
    filter: grayscale(100%);
}

body>div.nav>span {
    line-height: 40px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}

body>div.nav>span:hover {
    background-color: #cecdd028;
}

body>div.nav>span[active='yes'] {
    background-color: #9a999b50;
}

body>div.menu {
    left: 0;
    width: 220px;
    background-color: #f2f2f2;
    border-right: 1px solid #DBDBDB;
    padding-top: 15px;
    padding-bottom: 30px;
}

body>div.menu-mask {
    z-index: 1;
}

body>div.content {
    left: 220px;
    width: calc(100vw - 420px);
}

body>div.fixed {
    right: 0;
    width: 200px;
}

/* <=1000 */
@media (max-width: 1000px) {
    body>header>h1 {
        display: none;
    }
}

/* <=1000 && >700*/
@media (max-width: 1000px) and (min-width: 700px) {
    body>div.content {
        left: 220px;
        width: calc(100vw - 220px);
    }

    body>div.fixed {
        display: none;
    }
}

/* <=1000px */
@media (max-width: 1000px) {
    body>div.explain-view>div.content {
        left: 10px;
        top: 10px;
        width: calc(100vw - 20px);
        height: calc(100vh - 20px);
        padding: 10px;
    }

    body>div.explain-view>button {
        top: 30px;
        right: 30px;
    }
}

/* <=700px */
@media (max-width: 700px) {

    body>div.nav>span.github {
        text-indent: 0;
        background-size: 0 0;
    }

    body>div.nav>span:hover,
    body>div.nav>span[active='yes'] {
        background-color: #ffffff;
    }

    body>header>div.menu-ctrl {
        display: inline-block;
    }

    body>div.fixed {
        display: none;
    }

    body>div.content {
        left: 0;
        width: 100vw;
    }

    body>div.menu-mask {
        position: fixed;
        width: 100vw;
        height: calc(100vh - 60px);
        left: 0;
        top: 60px;
    }

    body>div.nav {
        left: 0;
        top: 60px;
        z-index: 3;
        width: 100px;
        background-color: #f2f2f2;
        height: calc(100vh - 60px);
        text-align: center;
        padding-top: 10px;
        color: black;
        z-index: 3;
    }

    body>div.menu {
        z-index: 2;
        width: 320px;
        padding-left: 100px;
    }

    body>div.menu-mask,
    body>div.nav,
    body>div.menu {
        visibility: hidden;
        transition-duration: 400ms;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-property: background-color, visibility;
    }

    body[menu-status='visible']>div.menu-mask,
    body[menu-status='visible']>div.nav,
    body[menu-status='visible']>div.menu {
        visibility: visible;
    }

    body[menu-status='hidden']>div.menu-mask {
        background-color: transparent;
    }

    body[menu-status='visible']>div.menu-mask {
        background-color: #0009;
    }

    body>div.content {
        padding: 10px;
    }

    body>div.content>.example-view {
        margin: 0;
    }

}

/* 菜单 */

.menu {
    padding: 0 10px;
}

.menu h2 {
    border-bottom: 1px solid gray;
    font-size: 16px;
    font-family: fangsong;
    font-weight: 200;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: #607D8B;
}

.menu h2:not(:first-child) {
    margin-top: 20px;
}

.menu li[is-open='no']>span {
    background-image: url("../images/close.png");
}

.menu li[is-open='yes']>span {
    background-image: url("../images/open.png");
}

.menu ul {
    padding-left: 10px;
}

.menu span {
    font-weight: 400;
    font-size: 14px;
    color: #304455;
    cursor: pointer;
    margin: 7px 0;
    height: 1.2em;
    width: 100%;
    display: inline-block;
}

.menu [is-open]>span {
    background-repeat: no-repeat;
    background-position: -4px center;
    background-size: 20px auto;
    padding-left: 15px;
}

.menu li[is-open='no']>ul {
    display: none;
}


/* 文档 */
.content {
    padding: 10px 30px;
    position: relative;
}

.content>header {
    font-size: 28px;
    padding: 20px 0;
    font-weight: 800;
}

.content>h2 {
    font-size: 20px;
    line-height: 2em;
    padding: 20px 0;
}

.content>h3 {
    font-size: 16px;
    line-height: 2em;
    padding: 15px 0;
}

.content>h4 {
    font-size: 12px;
    padding: 15px 0 5px 0;
    position: relative;
    margin-left: 10px;
}

.content>h4::before {
    content: "#";
    color: #4051b6;
    position: absolute;
    left: -0.7em;
    margin-top: -0.05em;
    padding-right: 0.5em;
    font-size: 1.2em;
    line-height: 1;
    font-weight: bold;
}

.content>p {
    text-indent: 2em;
}

.content>p,
.content>div {
    line-height: 1.6em;
    color: #3c3939;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0;
    white-space: normal;
}

.content a {
    font-size: 16px;
    color: #0286b6;
    margin: 0 5px;
    border-bottom: 1px solid #0286b6;
    padding: 0 5px;
    font-family: cursive;
    font-weight: 600;
}

.content a:hover {
    font-weight: 800;
    border-bottom: 2px solid #04a9e4;
}

.content ul,
.content ol {
    font-size: 13px;
    line-height: 2.4em;
    margin-left: 2.5em;
}

.content ol>li {
    list-style-type: decimal;
}

.content ul>li {
    list-style-type: disc;
}

.content .oneline {
    display: block;
    padding: 10px 0 10px 100px;
    text-indent: 0;
}

.content .title {
    color: #000000;
    font-weight: 800;
    padding: 0 5px;
    font-size: 20px;
    vertical-align: middle;
    font-family: cursive;
}

.content .version,
.content .warn {
    padding: 12px 24px 12px 30px;
    margin: 2em 0;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: #f8f8f8;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.content .version::before,
.content .warn::before {
    position: absolute;
    top: 14px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

.content .version {
    border-left-color: var(--version-color);
}

.content .warn {
    border-left-color: var(--warn-color);
}

.content .version::before {
    content: "V";
    background-color: var(--version-color);
}

.content .warn::before {
    content: "!";
    background-color: var(--warn-color);
}

.content .gray {
    color: #454545;
    font-weight: 800;
}

.content .important {
    color: rgb(255, 0, 0);
    font-weight: 800;
    padding: 0 3px;
}

.content .special {
    font-weight: 800;
    border-bottom: 2px dashed #030303;
    margin: 0 5px;
}

.content .tips-info {
    display: block;
    border-top: 1px solid rgba(193, 190, 190, 0.3);
    font-size: 12px;
    color: #0c5cbc;
    margin: 0 20px;
    text-indent: 1em;
}

.content table {
    width: 100%;
}

.content table>tbody>tr>* {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #c1bcbc;
}

.content table>*>tr>td,
.content table>*>tr>th {
    padding: 0 5px;
    color: #3c3939;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6em;
}

.content table>tbody>tr>*:first-child {
    border-width: 0 1px 1px 1px;
}

.content table>tbody>tr:nth-child(2n) {
    background-color: #F5F5F5;
}

.content table>tbody>tr:nth-child(2n+1) {
    background-color: #fff;
}

.content table>thead>tr {
    background-color: #c1bcbc;
    border: 1px solid #c1bcbc;
    color: #fff;
}

.content>button[tag] {
    margin: 10px 30px;
    background: red;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.content>*>button[tag] {
    font-size: 16px;
    color: #0286b6;
    margin: 0 5px;
    padding: 0 5px;
    font-family: cursive;
    font-weight: 600;
    border: none;
    outline: none;
    border-bottom: 1px solid #0286b6;
    cursor: pointer;
    background-color: transparent;
}

.content>*>button[tag]:hover {
    font-weight: 800;
    border-bottom: 2px solid #04a9e4;
}

.content .pip-block {
    font-size: 12px;
    margin: 5px;
    padding: 3px 5px;
    background-color: rgb(38, 34, 34);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    white-space: nowrap;
    display: inline-block;
    text-indent: 0;
}

.content .toRight {
    float: right;
}

pre {
    position: relative;
    outline: 1px solid #d3d3d4;
    overflow: auto;
}

pre:hover {
    outline-color: black;
}

pre>.copy-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url('../images/copy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: transparent;
    outline: none;
    border: none;
}

/* 导航 */
.fixed {
    padding: 10px;
}

.fixed>h1 {
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid rgb(205, 203, 203);
}

.fixed>h2,
.fixed>h3,
.fixed>h4,
.fixed>h5 {
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 400;
}

.fixed>h2:hover,
.fixed>h3:hover,
.fixed>h4:hover,
.fixed>h5:hover {
    text-decoration: underline;
}

.fixed>h2 {
    padding-left: 1em;
}

.fixed>h3 {
    padding-left: 2em;
}

.fixed>h4 {
    padding-left: 3em;
}

.fixed>h5 {
    padding-left: 4em;
}

/* 解释说明 */
.explain-view {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}

.explain-view>div {
    width: calc(100vw - 420px);
    height: calc(100vh - 50px);
    position: fixed;
    top: 25px;
    right: 210px;
    background-color: #ffffff;
    font-size: 0;
    white-space: nowrap;
    box-shadow: 0 0 16px black;
    overflow: auto;
    border-radius: 10px;
}

.explain-view>div::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.explain-view>button {
    position: fixed;
    top: 40px;
    right: 225px;
    background-image: url("../images/close-pink.png");
    height: 40px;
    width: 40px;
    font-size: 0;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

/* 例子界面 */
body div.example-view {
    outline: 1px solid rgb(135, 133, 133);
    background: #fff;
    overflow: auto;
    position: relative;
    font-size: 0;
    margin: 0 50px;
}

.example-view:hover {
    outline-color: black;
}

.example-view>iframe {
    width: 100%;
    outline: none;
    border: none;
}

.example-view>.toggle-btn,
.example-view>textarea {
    background-color: #dbe0e4;
}

.example-view>.toggle-btn {
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    color: gray;
    font-weight: 200;
}

.example-view>textarea {
    width: 100%;
    height: 500px;
    outline: none;
    border: none;
    border-top: 1px solid rgb(135, 133, 133);
    display: none;
    font-size: 12px;
    padding: 20px;
}

.example-view>.copy-btn,
.example-view>.run-btn {
    display: none;
    position: absolute;
    margin-top: 50px;
    border: none;
    outline: none;
    width: 55px;
    line-height: 26px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.example-view>.copy-btn {
    right: 80px;
    background-color: #9E9E9E;
}

.example-view>.run-btn {
    right: 15px;
    background-color: #F44336;
}

/* 编辑按钮 */

a.to-editor-btn {
    margin: 30px 0 40px 0;
    display: inline-block;
    font-size: 16px;
}

a.to-editor-btn svg {
    margin-right: 0.3em;
    vertical-align: sub;
}

.nav-left-link {
    text-decoration: underline;
    font-size: 14px;
    color: #2196F3;
    font-family: fangsong;
    margin: 24px 0;
    display: block;
    line-height: 1.4em;
}