.bigview {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.bigview>.displays {
    width: 100vw;
    height: calc(100vh - 60px);
    cursor: pointer;
}

.bigview>.displays>iframe {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: rgba(225, 226, 227, 0.673);
}


/* <=700px 且宽高比小于1 */
@media (max-width: 700px) and (max-aspect-ratio:1) {
    .bigview>.displays>iframe {
        transform: rotate(90deg);
        transform-origin: right top;
        width: calc(100vh - 60px);
        height: 100vw;
        right: 0;
        position: fixed;
        top: 100vh;
    }
}